:root {

  /* Basic colors */
  --white:#fff;
  --black:#000;
  --gray:#eaeaea;

  /* Brand Specific colors */
  /* For Background/Cards */
  --darkbrown:#291C0E;

  /* For Sections */
  --softbrown:#6E473B;

  /* Undecided */
  --tanbrown:#A78D78;
  --softgray:#BEB5A9;
  --tan:#E1D4C2;

  /* For post interaction */
  --raspberry:#E30B5C;
}

/* Basic formatting across all elements */
html {
	box-sizing: border-box;
  scroll-behavior: smooth;
}

*,*::before,*::after {
  box-sizing: border-box;
}

figure {
	margin: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

h1,
h2,
h3 {
	margin: 0;
}

p {
	margin: 0 0 1rem;
}

p:last-of-type {
	margin: 0;
}

button {
	margin: 1rem 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  display: grid;
  grid-template-columns:200px 1fr 1fr 1fr 250px ;
  grid-template-rows: 100px 1fr 100px;
  grid-template-areas: 
    "header header header header user-account"
    "aside main main main main"
    "footer main main main main";
  height: 100dvh;
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-family: "Sansation", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 100%;
  line-height: 1.65;
  color: var(--tan);
  background-color: var(--darkbrown);
}

.header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  background-color: var(--darkbrown);
}

.header .header-logo {
  display: grid;
  place-items: center;
  position: relative;
  grid-column: 2;
  justify-self: center;
}

.header .header-logo > * {
  grid-area: 1 / 1;
}

.backtree {
  width: 150px;
  height: 100px;
}

.frontcupcake {
  width: 50px;
  height: 50px;
}

.site-name {
  text-transform: uppercase;
  font-weight: bold;
}

.logo-name-left {
}

.logo-name-right {
}

.user-account {
  grid-area: user-account;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--tan);
  color: var(--darkbrown);
}

.sr-only {
  visibility: hidden;
}

.aside {
  grid-area: aside;
  background-color: var(--softbrown);
  overflow-y: auto;
}

.aside nav ul svg {
  fill: var(--tan);
}

.aside nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem; /* space between icons */
}

.aside nav a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
  text-decoration: none;
}

.main {
  grid-area: main;
  width: 100%;
  height: 100%;
  overflow-y: scroll;

  /* Masonry Style */
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  gap: 1rem;
  color: var(--darkbrown);
  background: var(--darkbrown);
  box-sizing: border-box;
  padding: 1rem;
}

.post-item {
  display: inline-block;
  background-color: var(--tan);
  color: var(--darkbrown);
  width: 100%;
  margin: 0 0 1rem;
  border-radius: 35px;
}

/* .post-item .post-image {
  width: 100px;
  height: 100px;
} */

/* Responsive styling for main container not using yet */
/* @media screen and (max-width: 1200px) {
  .main { column-count: 2; }
}
@media screen and (max-width: 800px) {
  .main { column-count: 1; }
} */

/* Taller posts */
.post-tall {
  grid-row: span 2;
}

/* Wider posts */
.post-wide {
  grid-column: span 2;
}


.creator-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.post-wrapper .post-interactions {
  display: flex;

}

.post-wrapper .post-interactions button{
  background: none;
  border: none;
  place-items: center;
  cursor: pointer;
}

.footer {
  grid-area: footer;
  color: var(--tan);
  background: var(--darkbrown);
  text-align: center;
}